<%= form_for [@user, @list], :html => {:class => "the-form"} do |f| %>
  <div class="form-section">
    <%= f.label :name, "Name:" %><br>
    <%= f.text_field :name, class: "form-field" %>
  </div>

  <% if @list.movies.count != 0 %>
    <div class="form-section">
      <%= f.label :movie_ids, "Movies in this list:" %>
      <%= f.collection_check_boxes :movie_ids, @list.movies.all, :id, :title, {:item_wrapper_class => "checkbox_container"} do |b| %>
        <div class="checkbox">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-section form-submit-btn">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
