<h2><%= @list.name %> <%= link_to "(Edit)", edit_list_path(@list) %> <%= link_to "(Delete)", list_path(@list), method: :delete %></h2>

<% if @list.movies.count == 0 %>
  <p>This list is empty :(</p>
<% else %>
  <% @list.movies.order('id DESC').each do |movie| %>
    <h3><%= link_to movie.title, movie_path(movie) %></h3>
    <%= link_to image_tag(movie.poster_url, alt: "Movie Poster for #{movie.title}", class: "movie-poster"), movie_path(movie) %>
  <% end %>
<% end %>


<div class="go-back">
  <%= link_to "Go Back", :back %>
</div>
