<div class="error-messages">
  <% @movie.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
</div>

<%= form_for @movie do |f| %>
  <div class="form-sides">

    <div class="form-left">
      <div class="form-section">
        <%= f.label :title, "Title:" %><br>
        <%= f.text_field :title, class: "form-field" %>
      </div>

      <div class="form-section">
        <%= f.label :release_date, "Release Date:" %><br>
        <%= f.text_field :release_date, class: "form-field", placeholder: "YYYY/MM/DD" %>
      </div>

      <div class="form-section">
        <%= f.label :director, "Director:" %><br>
        <%= f.text_field :director, class: "form-field"  %>
      </div>

      <div class="form-section">
        <%= f.label :overview, "Overview:" %><br>
        <%= f.text_area :overview, :rows => "10", class: "form-field" %>
      </div>

      <div class="form-section">
        <%= f.label :poster_url, "Poster URL:" %><br>
        <%= f.text_field :poster_url, class: "form-field" %>
      </div>

    </div>

    <div class="form-right">
      <div class="form-section">
        <%= f.label :list_ids, "Add to list:" %>
        <%= f.collection_check_boxes :list_ids, current_user.lists.all, :id, :name, {:item_wrapper_class => "checkbox_container"} do |b|%>
          <div class="checkbox">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="form-section form-submit-btn">
    <%= f.submit 'Submit', :class => "btn" %>
  </div>
<% end %>
