<h2><%= @movie.title %></h2>

<%= image_tag @movie.poster_url, alt: "Movie Poster for #{@movie.title}", class: "movie-poster" %>
<h3>Released: <%= @movie.release_date.strftime("%B %e, %Y") %></h3>
<h3>Director: <%= @movie.director %></h3>
<h3>Overview:</h3>
<p><%= @movie.overview %></p>

<div class="go-back">
  <%= link_to "Go Back", :back %>
</div>
