<h2>Add <%= @movie.title %> to a list:</h2>

<%= form_for [@movie, @group] do |f| %>
  <div class="">
    <ul>
      <% List.all.each do |list| %>
        <li><%= check_box_tag "list_ids[]", list.id %><%= list.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="">
    <%= f.submit "Add to list" %>
  </div>
<% end %>
