<section class="movie-show">
  <div class="movie-poster-container">
    <%= image_tag @movie.poster_url, alt: "Movie Poster for #{@movie.title}" %>
  </div>

  <div class="movie-details">
    <h2 class="add-movie-to-list-header">Add <%= @movie.title %> to one of your lists:</h2>

    <div class="error-messages">
      <% @group.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>

    <% if current_user.lists.count == 0 %>
      <p>
        You don't have any lists <i class="fa fa-frown-o" aria-hidden="true"></i><br>
        <%= button_to "Create a new list", new_user_list_path(current_user), class: 'btn', method: :get %>
      </p>
    <% else %>
      <%= form_for [@movie, @group], :html => {:class => "the-form"} do |f| %>
        <div class="form-section">
          <% current_user.lists.each do |list| %>
            <div class="form-field new-group-form-field">
              <%= radio_button_tag "list_id", list.id %>
              <span class="new-group-list-label"><%= list.name %> (<%= list.movies.count %> movies)</span>
            </div>
          <% end %>
        </div>

        <div class="">
          <%= f.submit "Add to list", class: "btn" %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
