<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winona</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Karla|Playfair+Display:700" rel="stylesheet">
    <script src="https://use.fontawesome.com/bcf5b9cb71.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "winona", root_path, class: "nav-logo" %>
      <% if !current_user %>
        <%= link_to "Log In", new_user_session_path, class: "nav-account-link" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-account-link" %>
      <% else %>
        <%= current_user.email %>
        <%= link_to "(+ Movie)", new_movie_path %>
        <%= link_to "My Lists", user_lists_path(current_user) %>
        <%= link_to "Log Out", destroy_user_session_path, class: "nav-account-link", :method => :delete %>
      <% end %>
    </nav>

    <div class="flash-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
