<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winona</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Karla|Playfair+Display:700" rel="stylesheet">
    <script src="https://use.fontawesome.com/bcf5b9cb71.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

      <nav>
        <%= link_to "winona", root_path, class: "nav-logo" %>
        <% if !current_user %>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-user-o" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <span class="signed-in-user-email"><%= current_user.email %></span>
          <%= link_to "My Lists", user_lists_path(current_user) %>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        <% end %>
      </nav>

      <div class="flash-messages">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <main>
        <%= yield %>
      </main>

      <footer>
        <%= link_to "https://github.com/sarah-yu/winona" do %>
          <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
        <p class="h4">created using <%= link_to "tmdb api", "https://developers.themoviedb.org/3", class: "underline-links" %></p>
      </footer>

    </div>
  </body>
</html>
