<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winona</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Winona", root_path %></h1>
    </header>

    <% flash.each do |type, message| %>
      <p class="flash <%= type %>"><%= message %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
