<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winona</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Winona", root_path %></h1>
    </header>

    <% if !current_user %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    <% else %>
      <%= current_user.email %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      hi this is the footer
    </footer>

  </body>
</html>
